<!DOCTYPE html>
<html>
<head>
<title>Whiiist | <%= reqUsername %></title>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
  h2 {
  	font-size: 20px;
    position: absolute;
    top: 1px;
  }
  h3 {
  	font-size: 16px;
    text-align: center;
  }
  h4 {
	font-size: 17;
    text-align: center;
  }
  l {
    font-size: 17px;
    position: absolute;
    top: 50px;
  }
  w {
    color: #f7f7f7;
    font-size: 16px;
    position: absolute;
    left: 160px;
    top: 200px
  }
  a:link, a:visited {
    color: #d8bf04;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
</style>
</head>
<body>
	<h1>
    	<%= reqUsername %>
    </h1>
	<h3>
    	<%= userDesc %>
    </h3>
    <h2>
    	<%= username %>
    </h2>
    <h4>
    reputation: <%= userRep %> <br>
    followers: <%= userFollower %> <br>
    whistles: <%= whistles.length %> <br>
    </h4>
    <w>

	<% for(var i=0; i < whistles.length; i++) { %>   		
    	<%= whistles[i].from_user %> -- <%= whistles[i].content %> <a href="/whistle?id=<%= whistles[i].id %>"> ==> </a> <br>
	<% } %>
    </w>
	<l>
    	<a href="/home"> Home </a> <br>
    	<a href="<%= meLink %>"> Me </a> <br>
    	<a href="/new_whistle"> Whistle </a> <br>
    	<a href="/public"> Public Board </a> <br>
    </l>
</body>
</html>