<!DOCTYPE html>
<html>
<head>
<title>Whiiist | <%= reqUsername %></title>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  }
  h1 {
    font-size: 20px;
	position: absolute;
    left: 160px;
  }
  h2 {
  	font-size: 20px;
    position: absolute;
    top: 1px;
  }
  h4 {
	font-size: 17;
	position: absolute;
    left: 160px;
  }
  l {
    font-size: 17px;
    position: absolute;
    top: 50px;
  }
  w {
    color: #f7f7f7;
    font-size: 16px;
    position: absolute;
    left: 160px;
    top: 200px
  }
  a:link, a:visited {
    color: #d8bf04;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  button {
  	background-color: #eef52a;
  	border: none;
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  }
</style>
</head>
<body>
	<h1> 
    	<br>
    	<%= reqUsername %> <br>
        <desc style=font-size:16px><%= userDesc %> </desc> <br>
        <h4> 
        	<br> <br> <br> <br>
    		Reputation: <%= userRep %> <br>
    		<button>Follow </button> <%= userFollower %> <br>
    		Whistles: <%= whistles.length %> <br>
    	</h4>
    </h1>
    <h2>
    	<%= username %>
    </h2>
    <w>

	<% for(var i=0; i < whistles.length; i++) { %>   		
    	<%= reqUsername%> -- <%= whistles[i].title %> <a href="/whistle?w=<%= whistles[i].id %>"> ==> </a> <br>
	<% } %>
    </w>
	<l>
		<a href="/edit-profile"> Edit Profile </a> <br>
    	<a href="/home"> Home </a> <br>
    	<a href="<%= meLink %>"> Me </a> <br>
    	<a href="/new_whistle"> Whistle </a> <br>
    	<a href="/public"> Public Board </a> <br>
    </l>
</body>
</html>
